body {
    font-size: 12pt;
    font-family: Arial;
    margin-top: 15pt;
    margin-bottom: 15pt;
    margin-left: 20pt;
    margin-right: 20pt;
    color:midnightblue;
    background-color: linen;
}

h1{
    font-size: 28pt;
    color:#011638;
    font-family: Garamond;
}

h2{
    font-size: 24pt;
    color:#2e294e;
    font-family: Verdana;
}

h3{
    font-size: 20pt;
    color:#9055A2;
    font-family: Helvetica;
}

p{
    font-size: 12pt;
    color:#d499b9;
    font-family: Georgia;
}

a:link, a:visited {
    color: #0066cc;
    text-decoration: none; 
}
a:hover, a:active {
    color: #ff6600; 
    text-decoration: underline; 
}

table {
    width: 100%;
    border-collapse: collapse; 
}

th, td {
    border: 1px ;
    color:#b37ba4; 
    padding: 8px; 
    text-align: left;
}

th {
    background-color:#14bded; 
}
.content, .links{
    background-color: linen; 
    padding: 15px;
    margin-bottom: 20px; 
}

.links a {
    display: inline-block; 
    margin-right: 
}